/**********************************tag styles *******************************/
body{
  background-color: white;
  margin : 0;
}
h1{
  text-align: center;
  padding-top: 8.125rem;
  color: #EEEEEE;
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
  margin:0;
}


h3{
  text-align: center;

  font-size: 1.5625rem;
  color: #EEEEEE;
  font-family: 'Merriweather', serif;
}

hr{
  margin-top:1.875rem;
  width: 50%;
  border-color: white;
  background-color: white;
}

html{
  scroll-behavior:smooth;
  scroll-padding-top:3.125rem;
}

/**********************************class styles *******************************/

#first-container{
  text-align: center;
  height:50rem;
  margin:0;
  background-image: url("../images/back7.jpg");
  background-size: cover;
}

.top{
  margin:0;
  width: 100%;
  text-align:center;
  background-color: #DA1212;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  position: fixed;
  top:0;

}

.jump{
  font-family: 'Dancing Script', cursive;
  font-size: 1.5625rem;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
  color: #EEEEEE;
  text-decoration: none;
}


.profile-pic{
padding-top:3.125rem;
margin-left: 6.25rem;
margin-right: 6.25rem;
}

.div-name{
  padding-top:1.25rem;
  color: #06113C;
  font-size: 3.4375rem;
  text-align: center;
  margin:0;

}

#profile-container{
  background-color:#DDDDDD;
  width:100%;
  margin:0;
  padding-bottom: 4.375rem;
  padding-top: 1.875rem;
  text-align: center;
}

.table1{
  display:inline-block;
}

.table-header{
  font-family: 'Merriweather', serif;
  font-size: 1.5625rem;
  color: #06113C;
}

.paragraph1{
  width: 15.625rem;
  text-align: left;

}


#education-container{
  background-color: #EEEEEE;
  width:100%;
  padding-bottom: 1.875rem;
  padding-top: 1.25rem;

}

.aalisar{
  font-family: 'Merriweather', serif;
  font-size: 1.25rem;
  color: #06113C;
  float:left;
  margin-right:6.25rem;
  height: 6.25rem;
  width:12.5rem;
  padding-left: 21.875rem;
}

.mini-titre{
  text-align: left;
  color: #06113C;
  font-family: 'Merriweather', serif;
}

.education{
  display:inline-block;
  width:100%;
  margin-top: 1.875rem;
}


.paragraphs{
  text-align:left;
  font-weight:normal;
}

#skills-container{
  background-color: #DDDDDD;
  width:100%;
  text-align: center;
  padding-bottom: 1.875rem;
  padding-top: 1.25rem;
}

.skill{
  display: inline-block;
  margin-top: 3.125rem;
  margin-left:6.25rem;

}

.skill1{
  padding-bottom:13.625rem;
}

.skill-name{
  color: #06113C;
  font-family: 'Merriweather', serif;
}

#projects-container{
  background-color: #EEEEEE;
  width: 100%;
  margin-bottom:0;
  padding-bottom: 3.125rem;
}

.project1{
margin-top:3.125rem;
padding-left: 9.375rem;
display:inline-block;
width:70%;
height:12.5rem;
}

.project2{
display:inline-block;
width:60%;
padding-left: 31.25rem;
height:12.5rem;

}

.project3{
padding-left: 9.375rem;
display:inline-block;
width:70%;
height:12.5rem;
}

.project4{
display:inline-block;
width:60%;
padding-left: 31.25rem;
height:12.5rem;
}


.project-img{
  float:left;
  height:12.5rem;
  width:12.5rem;
  margin-right: 6.25rem;
}

.project-img2{
  float:right;
  height:12.5rem;
  width:12.5rem;
}

.titre-projet{
  text-align: left;
  color: #06113C;
  font-family: 'Merriweather', serif;
  height:1.875rem;
  padding-top:1.875rem;
}

.paragraphs1{
  text-align:left;
  font-weight:normal;
  font-size:2;
  height:12.5rem;
  line-height: 2;
}

#contact-container{
  margin-top:0;
  background-color: #06113C;
  text-align: center;
  padding-bottom: 1.25rem;
}


.contact-me{
  padding-top:0.625rem;
  color: #EEEEEE;
  font-size: 3.4375rem;
  text-align: center;
  margin:0;
}

.contact{
  margin-left: 1.875rem;
  margin-right: 1.875rem;
  color: #EEEEEE;
  text-decoration: none;
}
